body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  float: left;
}
a {
  color: #1B97F2;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img { width: 800px; }
#left { float: left; }
#right { float: right; }
